body {
    font-family: 'Courier New', Courier, monospace;
}

#config {
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
}

#config div {
    margin-bottom: 0.5em;
}


.calc div {
    padding: 0.25em;
    min-width: 13em;
    /* flex-basis: 32% */
}

.boxGrpHeader {
    width: 8.5em;
    display: inline-block;
}

.boxGrp {
    border: 1px solid gray;
    padding: 0.25em;
    white-space: nowrap;
}

@media print {

    html,
    body {
        height: 100%;
    }

    #calcPage {
        margin-top: -1em;
    }

    #calcPage,
    #resultPage {
        height: 99%;
        overflow: hidden;
    }

    #config,
    #timer {
        display: none;
    }

    .calc div {
        min-width: 13em;
    }
}

@media screen {
    #resultPage {
        display: none;
    }

    #content {
        margin-bottom: 3em;
    }

    /* .calc div {
        min-width: 15em;
        flex-basis: 32%
    } */
}

.calc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

input[type=number] {
    border-style: none;
    border-bottom: 1px solid black;
    width: 3em;
    text-align: right;
    background-color: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[disabled] {
    border-style: none;
    width: 2em;
    background-color: unset;
}

.query {
    border-bottom: 1px solid black !important;
    width: 3em !important;
}

.correct {
    background-color: #00880022;
}

.incorrect {
    background-color: #88000022;
}

#timer {
    position: fixed;
    bottom: 0;
    right: 5px;
    padding-left: 0.25em;
    font-size: xx-large;
    color: gray;
    background-color: #FFFFFF99;
    margin-top: 0.25em;
}

#btnPrint {
    position: absolute;
    right: 1.2em;
    top: 1.2em;
    font-size: 110%;
}
